<div class="m-subheader app-subheader">
  <div>
    <h3 class="m-subheader__title"><%= title || '' %></h3>
    <% if (subtitle) { %>
      <div class="app-subheader__subtitle"><%= subtitle %></div>
    <% } %>
  </div>
</div>
